body {
    font-family: Tahoma;
    font-size: 16px;
    background-color: rgb(27,27,50,255);
}

.colorFont, h1, p {
    color: white;
}


div {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

hr {
    background-color: rgb(59,59,79,255);
    height: 2.5px;
    border: 0;
}


.inputSection1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98.5%;
    height: 25px;
    background-color: rgb(10,10,35,255);
    border: 0;
}

.fajar {
    width: 98.5%;
    height: 25px;
    background-color: rgb(10,10,35,255);
    border: 0;
}

select {
    width: 98.5%;
    height: 25px;
    background-color: white;

}

textarea {
    background-color: rgb(10,10,35,255);
    border: 0;
} 


.section1 {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section2 {
    text-align: left;
}

.account {
    display: inline-block;
}